body {
  background-color: rgb(87, 87, 87);
}

.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas:
  "h h"
  "n c";

   grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;
    /* grid-gap: 10px; */
}

.app-wrapper-content{
  grid-area: c;
  box-sizing: border-box;
  margin: 10px;
  padding: 20px;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
}