.dialogsWrapper{
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.dialog{
    padding: 3px;
    border-right: 1px solid black;
}

.message{
    padding: 3px;
}

.dialog img {
    width: 30px;
}

.dialog a {
    display: flex;
    align-items: center;
}